
{% extends '../../layout/base.html' %}
{% block title %}首页{% end %}
{% block pageheading %}
<h3>日报管理</h3>
<ul class="breadcrumb">
    <li>
        <a href="/index">首页</a>
    </li>
    <li class="active"> 日报</li>
</ul>
{% end %}

{% block contents %}
 <div class="row">
        <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                日报详情
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>周</th>
                            <th>工作内容</th>
                            <th>工作类型</th>
                            <th>创建时间</th>
                            <th>修改</th>
                            <th>删除</th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row.daily_id }}</td>
                            <td>{{ username }}</td>
                            <td>{{ row.week }}</td>
                            <td>{{ row.content }}</td>
                            <td>{{ row.worktype }}</td>
                            <td>{{ row.createtime }}</td> 
                            <td><a href="#">修改</a></td>
                            <td><a href="#">删除</a></td>
                        </tr>
                        {% end %}
                        </tbody>
                    </table>
                </section>
            </div>
{% end %}
